.row
{
    display: flex;
    width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow: hidden; */
    background-color: #1a1a1a;
    padding: 32px 32px;
    gap: 32px;
}

.col1
{
    width: 63%;
}